ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #af4c4c;
}
.form-popup {
    display: none;
    position: fixed;
    top: 250;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
#recent {
    border-collapse: collapse;
    width: 100%;
}

#recent td, #recent th {
    border: 1px solid #ddd;
    padding: 8px;
}

#recent tr:nth-child(even){
    background-color: #f2f2f2;
}

#recent tr:hover {
    background-color: #ddd;
}