ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #af4c4c;
}
.form-popup {
    display: none;
    position: fixed;
    top: 250;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: rgb(235, 235, 235);
    border-color: black;
}
.form-popup h1, .form-popup input, .form-popup button, .form-popup label{
    text-align: center;
    margin: 10px;
}
#recents, #top5, #playersTable, #teamsTable, #gamesTable {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    font-size: 16pt;
}

#recents th, #top5 th, #playersTable th, #teamsTable th, #gamesTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #af4c4c;
    color: white;
}

#recents td, #recent th, #top5 td, #top5 th, #playersTable td, #playersTable th, #teamsTable td, #teamsTable th, #gamesTable td, #gamesTable th{
    border: 1px solid #ddd;
    padding: 8px;
}

#recents tr:nth-child(even), #top5 tr:nth-child(even), #playersTable tr:nth-child(even), #teamsTable tr:nth-child(even), #gamesTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#recents tr:hover, #top5 tr:hover, #playersTable tr:hover, #teamsTable tr:hover, #gamesTable tr:hover{
    background-color: #ddd;
}